# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.venv/
*.egg-info/

# Secret
.env
.env.*
!.env.example

# Terraform
**/.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
!*.tfvars.example
.terraform.lock.hcl
crash.log
override.tf

# Docker
*.log

# IDE
.idea/
.vscode/
.DS_Store
