
*.tfstate
*.tfstate.*


.terraform/
.terraform.lock.hcl


*.tfvars
*.tfvars.json
override.tf
override.tf.json

# logs
terraform.tfstate.d
errored.tfstate
*.log

# operation system
.DS_Store
Thumbs.db

# trash
node_modules/
dist/
.env